html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/wallpaper.jpg);
}

.header {
    background-color: rgb(58, 70, 57);
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    border-radius: 0px 0px 10px 10px;
}

footer {
    background-color: rgb(58, 70, 57);
    padding: 20px 0px;
    color: white;
    text-align: center;
    font-size: 20px;
    bottom: 0;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
    text-decoration: underline;
}

.multiverse-logo {
    margin: -90px;
}

.container {
    max-width: 1200px;
    padding: 0px 10px 10px 10px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.textbox {
    margin: 5px auto;
    border-style: solid;
    border-width: 2px;
}

.text {
    padding: 10px;
}

ul.hyphen {
    list-style-type: '- ';
}

.main-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    background-color: #343c34;
    padding-left: 0px;
}

.main-nav a {
    margin: 10px;
    border-radius: 5px;
    background: #60B99A;
    color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
    width: 120px;
    text-align: center;
}

.main-nav a:hover {
    background-color: #468b73;
}

.main-nav .logo {
    background: #4584b1;
}

@media screen and (max-height: 1215px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.decoration-none {
    text-decoration: none;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

 .boxshadow {
    box-shadow: 0px 0px 20px -7px #fff;
    z-index: 10;
} 

.personality-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 20px auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
    margin-right: 10px;
}

article {
    font-size: 20px;
}

article.featured {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid rgb(220, 221, 221);
    padding-bottom: 40px;
}

article img, article.features img {
    width: 100%;
    border: 4px solid black;
    border-radius: 8px;
}

article p, article h3, article h2 {
    margin: 20px 10px;
}

@media screen and (max-width: 980px) {
    h1 {
        font-size: 55px;
    }
    h2.title {
        font-size: 35px;
    }
    article {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
    article.featured {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 30px;
    }
    h2.title {
        font-size: 25px;
    }
    article, article.featured {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }

}

.mystyle {
    max-width: 100%;
    background-size: contain;
    display: inline;
    padding: 80%;
    color: white;
}
